#cls-cc
/cls-cc/*
!/cls-cc/src
!/cls-cc/lib
!/cls-cc/cls-cc.properties
!/cls-cc/log4j.properties
#cls-etl
/cls-etl/*
!/cls-etl/src
!/cls-etl/lib
!/cls-etl/cls-etl.properties
!/cls-etl/log4j.properties
